.all_fab{
    color:white;
    text-align: center; 
    font-weight: bold; 
    font-family: times new roman;
    font-size: 25px;  
    
}
.borderbox{
    border: 2px solid whitesmoke;
    background-color: black;
    
}